# 2.15 Fungsi Range
Fungsi range digunakan untuk membangkitkan bilangan berurutan atau berpola seperti yang kita inginkan.

Contoh 1.

In [1]:

bilangan_36 = range(10)
print(bilangan_36)

range(0, 10)

In [2]:
for isi in bilangan_36:
  print(isi)

0
1
2
3
4
5
6
7
8
9

In [3]:
for isi in range (9,15):
    print(isi)
## Menampilkan bilangan berurutan dari 9 sampai kurang dari 15 ##

9
10
11
12
13
14

In [4]:
for isi in range(0,10,2):
    print(isi)
## Menampilkan bilangan berrutan dari 0 sampai kurang dari 10 dengan loncatan 2 ##

0
2
4
6
8

Contoh 2.

In [5]:
meteran_36 = range(8)
print(meteran_36)

range(0, 8)

In [6]:
for isi in meteran_36:
    print(isi)

0
1
2
3
4
5
6
7

In [7]:
for isi in range (7,20):
    print(isi)

7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for isi in range (1,21,3):
    print(isi)
print('===================')
for isi in range (0,15,1):
    print(isi)
print('===================')
for isi in range (3,15,4):
    print(isi)
print('===================')
for isi in range (7,20,2):
    print(isi)

1
4
7
10
13
16
19
===================
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
===================
3
7
11
===================
7
9
11
13
15
17
19

Latihan mencari bilangan terbesar di dalam suatu list

In [9]:
angka_36 = [5,60,7,8,9,10]
terbesar = angka_36[0]
for i in range(len(angka_36)):
  if angka_36[i] > terbesar:
    terbesar = angka_36[i]
print(terbesar)

60

In [10]:
bil_genap_36 = [2,4,6,8,10,14,24,22,28,30,34,50,42,16,18]
terbesar = bil_genap_36[0]
for i in range(len(bil_genap_36)):
  if bil_genap_36[i] > terbesar:
    terbesar = bil_genap_36[i]
print(terbesar)

50

Latihan membuat anggota list menjadi unik

In [11]:
angka_36 = [2,4,6,4,2,7,8,6,10,16,6,7,2,4,7,18]
angka_unik_36 = []
for anggota in angka_36:
  if anggota not in angka_unik_36:
     angka_unik_36. append (anggota)
print (angka_unik_36)

[2, 4, 6, 7, 8, 10, 16, 18]

# 2.16 List 2 Dimensi
Pada umumnya List 2 Dimensi adalah menempatkan sebuah list di dalam list.
List 2 Dimensi biasanya digambarkan seperti sebuah matriks.

Contoh 1.

In [12]:

matrik_36 = [
    [15,16,17,18],
    [19,20,21,22],
    [23,24,25,26],
    [27,28,29,30]
]
print('matrik yang saya miliki adalah: ')
print(matrik_36)

# List 2 Dimensi terlihat seperti terdapat sebuah list di dalam list.
# Indeksnya selalu dimulai dari 0
# Matriks diatas terdapat kolom 0, kolom 1, sampai kolom 4
# Matriks diatas terdapat baris 0, baris 1, sampai baris 4

matrik yang saya miliki adalah:
[[15, 16, 17, 18], [19, 20, 21, 22], [23, 24, 25, 26], [27, 28, 29, 30]]

In [13]:
# Contoh, saya ingin mencetak semua data yang ada pada baris ke 1
# Karena indeksnya dimulai dari nol, maka baris ke 1 memiliki indeks 0
# Hanya terdapat satu kurung siku yang menandakan indeks tersebut untuk baris
matrik_36[0]

[15, 16, 17, 18]

In [14]:
# Contoh lain, saya ingin mencetak semua data yang ada pada baris ke 2
# Karena indeksnya dimulai dari nol, maka baris ke 2 memiliki indeks 1
# Hanya terdapat satu kurung siku yang menandakan indeks tersebut untuk baris
matrik_36[1]

[19, 20, 21, 22]

In [15]:
## Menampilkan data dengan menunjukkan indeksnya ##
# Contoh, saya ingin mencetak data 29, data 29 terletak pada baris keempat dan kolom ketiga
# Karena indeks dimulai dari nol, maka data 29 terletak pada indeks 3 dan 2
# Kurung siku pertama menandakan indeks untuk baris dan kurung siku kedua menandakan indeks untuk kolom
matrik_36[3][2]

29

In [16]:
# Contoh lain, saya ingin mencetak data 17, data 17 terletak pada baris kesatu dan kolom ketiga
# Karena indeks dimulai dari nol, maka data 17 terletak pada indeks 0 dan 2
# Kurung siku pertama menandakan indeks untuk baris dan kurung siku kedua menandakan indeks untuk kolom
matrik_36[0][2]

17

In [17]:
# Mengganti elemen matriks pada baris ketiga kolom kesatu
matrik_36[2][0]=70
print(matrik_36[2][0])

70

In [18]:
# Matriksnya menjadi:
matrik_36

[[15, 16, 17, 18], [19, 20, 21, 22], [70, 24, 25, 26], [27, 28, 29, 30]]

In [19]:
## Mencetak data Matriks dengan rapi ##
# Kita dapat mencetak data matriks dengan rapi menggunakan perulangan for
# Posisi entri-entrinya tidak akan mendatar untuk semuanya, namun akan tercetak sama seperti bentuk matriks yang biasa kita lihat
for baris in matrik_36:
    print(baris)
    for kolom in baris:
        print(kolom)

[15, 16, 17, 18]
15
16
17
18
[19, 20, 21, 22]
19
20
21
22
[70, 24, 25, 26]
70
24
25
26
[27, 28, 29, 30]
27
28
29
30

Contoh 2.

In [20]:
matriks_B_36 = [
    [2,4,6,8,10],
    [12,14,16,18,20],
    [22,24,26,28,30],
    [32,34,36,38,40],
    [42,44,46,48,50]
]
print('matriks yang saya miliki adalah: ')
print(matriks_B_36)

matriks yang saya miliki adalah:
[[2, 4, 6, 8, 10], [12, 14, 16, 18, 20], [22, 24, 26, 28, 30], [32, 34, 36, 38, 40], [42, 44, 46, 48, 50]]

In [21]:
matriks_B_36[3]

[32, 34, 36, 38, 40]

In [22]:
matriks_B_36[3][3]

38

In [23]:
matriks_B_36[0][3]=60
print(matriks_B_36[0][3])

60

In [24]:
matriks_B_36

[[2, 4, 6, 60, 10],
 [12, 14, 16, 18, 20],
 [22, 24, 26, 28, 30],
 [32, 34, 36, 38, 40],
 [42, 44, 46, 48, 50]]

In [25]:
for baris in matriks_B_36:
    print(baris)
    for kolom in baris:
        print(kolom)

[2, 4, 6, 60, 10]
2
4
6
60
10
[12, 14, 16, 18, 20]
12
14
16
18
20
[22, 24, 26, 28, 30]
22
24
26
28
30
[32, 34, 36, 38, 40]
32
34
36
38
40
[42, 44, 46, 48, 50]
42
44
46
48
50

# 2.17 Tuples
Tuples merupakan collection data type, artinya tuple dapat digunakan untuk menampung sekumpulan nilai/data. Tuples merupakan sequence data type, artinya nilai/data yang tersimpan di dalam tuples dapat diakses berdasarkan urutan penyimpanannya. Tuples merupakan immutable data type, artinya kita tidak dapat mengubah, menambah, ataupun menghapus nilai/data yang ditampung di dalam sebuah tuples.

Contoh 1.

In [26]:
bil_fibonacci_36 = (1,1,2,3,5,8)
print(bil_fibonacci_36[2])

2

In [27]:
print(bil_fibonacci_36[0:3])
print('----------------------')
print(bil_fibonacci_36[1:4])
print('----------------------')
print(bil_fibonacci_36[2:3])

(1, 1, 2)
----------------------
(1, 2, 3)
----------------------
(2,)

In [28]:
for isi in bil_fibonacci_36[0:3]:
    print(isi)
print('==========================')
for isi in bil_fibonacci_36[1:4]:
    print(isi)

1
1
2
==========================
1
2
3

In [29]:
# Untuk menghitung frekuensi nilai yang kita miliki dalam Tuple
# kita dapat menggunakan fungsi count
bil_fibonacci_36.count(1)

2

In [30]:
# Untuk mengetahui urutan nilai dalam Tuple
# kita dapat menggunakan fungsi index
bil_fibonacci_36.index(3)

3

Contoh 2.

In [31]:
bil_prima_36 = (2,3,5,7,11,13,17,19,23,29)
print(bil_prima_36[3])

7

In [32]:
print(bil_prima_36[0:4])
print('----------------------')
print(bil_prima_36[1:5])
print('----------------------')
print(bil_prima_36[2:4])

(2, 3, 5, 7)
----------------------
(3, 5, 7, 11)
----------------------
(5, 7)

In [33]:
for isi in bil_prima_36[0:4]:
    print(isi)
print('==========================')
for isi in bil_prima_36[1:5]:
    print(isi)

2
3
5
7
==========================
3
5
7
11

In [34]:
bil_prima_36.count(2)

1

In [35]:
bil_prima_36.index(3)

1

Contoh 3.

In [36]:
bil_genap_36 = (2,4,6,8,10,12,14,16,18,20)
print(bil_genap_36[5])
print('----------------------')
print(bil_genap_36[0:5])
print('----------------------')
print(bil_genap_36[1:4])
print('----------------------')
print(bil_genap_36[2:5])

12
----------------------
(2, 4, 6, 8, 10)
----------------------
(4, 6, 8)
----------------------
(6, 8, 10)

In [37]:
for isi in bil_genap_36[0:5]:
    print(isi)
print('==========================')
for isi in bil_genap_36[1:4]:
    print(isi)

2
4
6
8
10
==========================
4
6
8

In [38]:
bil_genap_36.count(2)

1

In [39]:
bil_genap_36.index(2)

0

Contoh 4.

In [40]:
bangun_ruang_36 = ('kubus', 'balok', 'prisma', 'tabung', 'kerucut')
print(bangun_ruang_36[0])

kubus

In [41]:
print(bangun_ruang_36[0:3])
print('--------------------')
print(bangun_ruang_36[1:4])
print('--------------------')
print(bangun_ruang_36[2:3])
print('--------------------')
print(bangun_ruang_36[3:4])

('kubus', 'balok', 'prisma')
--------------------
('balok', 'prisma', 'tabung')
--------------------
('prisma',)
--------------------
('tabung',)

In [42]:
for isi in bangun_ruang_36[0:3]:
    print(isi)
print('==========================')
for isi in bangun_ruang_36[1:4]:
    print(isi)
print('==========================')
for isi in bangun_ruang_36[2:3]:
    print(isi)
print('==========================')
for isi in bangun_ruang_36[3:4]:
    print(isi)

kubus
balok
prisma
==========================
balok
prisma
tabung
==========================
prisma
==========================
tabung

# 2.18 Dictionaries
 Dictionaries digunakan jika data nya terkait satu sama lain. Misalnya data seseorang yang terdiri dari umur, nama, tanggal lahir merupakan satu kesatuan data yang bersumber dari orang tersebut.

Contoh 1.

In [43]:
biodata_36 ={
    'nama' : "Diva Felizia Bagindo",
    'umur' : 20,
    'apakah_cantik?' : True
}
print(biodata_36['nama'])

Diva Felizia Bagindo

In [44]:
print(biodata_36.get('nama'))

Diva Felizia Bagindo

In [45]:
print(biodata_36.get('tanggal_lahir'))

None

In [46]:
print(biodata_36.get('tanggal_lahir', '18-11-2004'))

18-11-2004

In [47]:
print(biodata_36)

{'nama': 'Diva Felizia Bagindo', 'umur': 20, 'apakah_cantik?': True}

In [48]:
biodata_36['HP'] = '089685742339'
print(biodata_36['HP'])

089685742339

In [49]:
print(biodata_36)

{'nama': 'Diva Felizia Bagindo', 'umur': 20, 'apakah_cantik?': True, 'HP': '089685742339'}

Program untuk merubah nomor HP yang awalnya berupa angka menjadi sebutan bilangan.

In [50]:
angka_36 = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan"
}
nomor_HP_36 = input("Masukkan nomor HP kamu ")
nomor_angka_36 = ""
for isi in nomor_HP_36:
    nomor_angka_36 += angka_36.get(isi) + " "
print(nomor_angka_36)

Masukkan nomor HP kamu 089685742339
nol delapan sembilan enam delapan lima tujuh empat dua tiga tiga sembilan

Contoh lain.

In [51]:
kosa_kata_36= {
    'a': 'apel',
    'b': 'bola',
    'c': 'cinta',
    'd': 'dadu',
    'e': 'emas',
    'f': 'fajar',
    'g': 'gula',
    'h': 'hari',
    'i': 'ikan'
}
print('========================================================================')
kata_kunci_36 = input('Silahkan masukkan kata kunci yang ingin Anda buat: ')
kata_kunci_huruf_36 = ''
for isi in kata_kunci_36:
    kata_kunci_huruf_36 += kosa_kata_36.get(isi) + ' '
print(kata_kunci_huruf_36)

========================================================================
Silahkan masukkan kata kunci yang ingin Anda buat: fei
fajar emas ikan

Contoh 2.

In [52]:
buku_36 = {
    'judul': "Harry Potter and the Philosopher's Stone",
    'penulis': "J.K. Rowling",
    'halaman': 223,
    'bahasa': "Inggris",
    'rating': 4.7
}
print(buku_36['judul'])
print('==============================================================================')
print(buku_36.get('judul'))
print('==============================================================================')
print(buku_36.get('tanggal_terbit'))
print('==============================================================================')
print(buku_36.get('tanggal_terbit', '26-06-1997'))
print('==============================================================================')
print(buku_36)
print('==============================================================================')
buku_36['ISBN'] = '0747532699'
print(buku_36['ISBN'])
print('==============================================================================')
print(buku_36)

Harry Potter and the Philosopher's Stone
==============================================================================
Harry Potter and the Philosopher's Stone
==============================================================================
None
==============================================================================
26-06-1997
==============================================================================
{'judul': "Harry Potter and the Philosopher's Stone", 'penulis': 'J.K. Rowling', 'halaman': 223, 'bahasa': 'Inggris', 'rating': 4.7}
==============================================================================
0747532699
==============================================================================
{'judul': "Harry Potter and the Philosopher's Stone", 'penulis': 'J.K. Rowling', 'halaman': 223, 'bahasa': 'Inggris', 'rating': 4.7, 'ISBN': '0747532699'}

Contoh 3.

In [53]:
data_mahasiswa_36 = {
    'nama': "Ahmad Fadilah",
    'jurusan': "Teknik Informatika",
    'semester': 5,
    'ipk': 3.75,
    'alamat': "Jl. Pahlawan No. 123, Kota Bandung"
}
print(data_mahasiswa_36['nama'])
print('==============================================================================')
print(data_mahasiswa_36.get('nama'))
print('==============================================================================')
print(data_mahasiswa_36.get('nim'))
print('==============================================================================')
print(data_mahasiswa_36.get('nim', '1234567891'))
print('==============================================================================')
print(data_mahasiswa_36)
print('==============================================================================')
data_mahasiswa_36['nik'] = '5103016754321345'
print(data_mahasiswa_36['nik'])
print('==============================================================================')
print(data_mahasiswa_36)

Ahmad Fadilah
==============================================================================
Ahmad Fadilah
==============================================================================
None
==============================================================================
1234567891
==============================================================================
{'nama': 'Ahmad Fadilah', 'jurusan': 'Teknik Informatika', 'semester': 5, 'ipk': 3.75, 'alamat': 'Jl. Pahlawan No. 123, Kota Bandung'}
==============================================================================
5103016754321345
==============================================================================
{'nama': 'Ahmad Fadilah', 'jurusan': 'Teknik Informatika', 'semester': 5, 'ipk': 3.75, 'alamat': 'Jl. Pahlawan No. 123, Kota Bandung', 'nik': '5103016754321345'}

In [54]:
print('Selamat datang di toko Elektronik ZIZI!')
produk_36 = {
    'kode_barang': "B123",
    'nama_barang': "Laptop ASUS ROG Strix",
    'kategori': "Elektronik",
    'lokasi': "Gudang 1"
}
print(produk_36['kode_barang'])
print('==============================================================================')
print(produk_36.get('kode_barang'))
print('==============================================================================')
print(produk_36.get('harga'))
print('==============================================================================')
print(produk_36.get('harga', '15000000'))
print('==============================================================================')
print(produk_36)
print('==============================================================================')
produk_36['stok'] = '15'
print(produk_36['stok'])
print('==============================================================================')
print(produk_36)

Selamat datang di toko Elektronik ZIZI!
B123
==============================================================================
B123
==============================================================================
None
==============================================================================
15000000
==============================================================================
{'kode_barang': 'B123', 'nama_barang': 'Laptop ASUS ROG Strix', 'kategori': 'Elektronik', 'lokasi': 'Gudang 1'}
==============================================================================
15
==============================================================================
{'kode_barang': 'B123', 'nama_barang': 'Laptop ASUS ROG Strix', 'kategori': 'Elektronik', 'lokasi': 'Gudang 1', 'stok': '15'}

# 2.19 Fungsi dalam Python
Fungsi dibentuk untuk menghindari pengulangan pembuatan program secara manual. Fungsi juga berguna untuk mempermudah dan meringkas suatu program.

Contoh 1.

In [55]:
# Fungsi Nama Lengkap menerima input nama depan, tengah, dan belakang
def full_name_36(first_name,middle_name,last_name):                                    #pendefinisian fungsi
    print(f"Nama lengkap saya adalah {first_name_36} {middle_name_36} {last_name_36}")
first_name_36 = input("Nama depan saya adalah ")
middle_name_36 = input("Nama tengah saya adalah ")
last_name_36 = input("Nama belakang saya adalah ")
full_name_36(first_name_36,middle_name_36,last_name_36)

Nama depan saya adalah Diva
Nama tengah saya adalah Felizia
Nama belakang saya adalah Bagindo
Nama lengkap saya adalah Diva Felizia Bagindo

Contoh 2.

In [56]:
def kalimat_SPOK_36(subjek,predikat,objek,keterangan):                                                                 #pendefinisian fungsi
    print(f"Contoh kalimat yang mengandung SPOK adalah {subjek_36} {predikat_36} {objek_36} {keterangan_36}")
subjek_36 = input("Subjeknya adalah ")
predikat_36 = input("Predikatnya adalah ")
objek_36 = input("Objeknya adalah ")
keterangan_36 = input("Keterangannya adalah ")
kalimat_SPOK_36(subjek_36,predikat_36,objek_36,keterangan_36)

Subjeknya adalah Dina
Predikatnya adalah membeli
Objeknya adalah obat
Keterangannya adalah di Apotek
Contoh kalimat yang mengandung SPOK adalah Dina membeli obat di Apotek

Contoh 3.

In [57]:
def bakteri_36(nama_bakteri,nama_ilmiah):                                                                 #pendefinisian fungsi
    print(f"Contoh nama bakteri yaitu {nama_bakteri_36} , sedangkan nama ilmiahnya {nama_ilmiah_36}")
nama_bakteri_36 = input("Nama bakterinya yaitu:  ")
nama_ilmiah_36 = input("Sedangkan, nama ilmiahnya adalah:  ")
bakteri_36(nama_bakteri_36,nama_ilmiah_36)

Nama bakterinya yaitu:  Bakteri TBC
Sedangkan, nama ilmiahnya adalah:  Mycobacterium Tubrculosis
Contoh nama bakteri yaitu Bakteri TBC , sedangkan nama ilmiahnya Mycobacterium Tubrculosis

# 2.19.1 Tugas Fungsi pada Python

Contoh 1.

In [58]:
# Fungsi Waktu Sampai dan Waktu Tempuh
def waktu_sampai_36(jarak,kecepatan):
    waktu_36 = jarak/kecepatan
    print(waktu_36)
waktu_sampai_36(80,60)
x_36 = waktu_sampai_36(80,60)
print(x_36)

print('-------------------------------------------')
def waktu_tempuh_36(jarak,kecepatan):
    waktu_36 = jarak/kecepatan
    return(waktu_36)
waktu_tempuh_36(80,60)
y_36 = waktu_tempuh_36(80,60)
print(y_36)

1.3333333333333333
1.3333333333333333
None
-------------------------------------------
1.3333333333333333

Contoh 2.

In [59]:
# Fungsi Luas Segitiga
def luas_segitiga_36(alas, tinggi):
    luas = 0.5*alas*tinggi
    return luas

# Fungsi Luas Lingkaran
def luas_lingkaran_36(jari_jari):
    luas = 3.14*(jari_jari**2)
    return luas

# Fungsi Luas Persegi
def luas_persegi_36(sisi):
    luas = sisi**2
    return luas

# Fungsi Luas Persegi Panjang
def luas_persegi_panjang_36(panjang, lebar):
    luas = panjang*lebar
    return luas

In [60]:
# Contoh Penggunaan dengan IF dan ELIF Statement
def header():
    print('=======Selamat datang di program sederhana mencari Luas suatu bidang=======')

while True:                                                                                                  #menggunakan while agar fungsi bisa diberhentikan
    header()
    jenis_bidang_36 = input('Silahkan masukkan bidang yang ingin kamu hitung : ')
    if jenis_bidang_36.upper() == 'SEGITIGA':
        alas = float(input('Berapakah alasnya? (dalam cm) '))
        tinggi = float(input('Berapakah tingginya? (dalam cm) '))
        luas = luas_segitiga_36(alas, tinggi)
        print(F'Luas {jenis_bidang_36} adalah {luas}')
    elif jenis_bidang_36.upper() == 'LINGKARAN':
        jari_jari = float(input('Berapakah jari-jarinya? (dalam cm) '))
        luas = luas_lingkaran_36(jari_jari)
        print(F'Luas {jenis_bidang_36} adalah {luas}')
    elif jenis_bidang_36.upper() == 'PERSEGI':
        sisi = float(input('Berapakah panjang sisinya? (dalam cm) '))
        luas = luas_persegi_36 (sisi)
        print(F'Luas {jenis_bidang_36} adalah {luas}')
    elif jenis_bidang_36.upper() == 'PERSEGI PANJANG':
        lebar = float(input('Berapakah lebarnya? (dalam cm) '))
        panjang = float(input('Berapakah panjangnya? (dalam cm) '))
        luas = luas_persegi_panjang_36 (panjang, lebar)
        print(F'Luas {jenis_bidang_36} adalah {luas}')
    else:
        print(F'Mohon coba kembali, bidang {jenis_bidang_36} yang anda input tidak tersedia untuk saat ini')
    lanjut = input('Apakah ingin menginput lagi? (yes/no)')                                                     #karena while tidak akan berhenti tanpa ada cancel,
    if lanjut == 'no':                                                                                          #maka kita buatkan looping for untuk menyelesaikan input ketika input ingin diselesaikan
        break
print('----Program Berakhir Terimakasih----')

=======Selamat datang di program sederhana mencari Luas suatu bidang=======
Silahkan masukkan bidang yang ingin kamu hitung : persegi panjang
Berapakah lebarnya? (dalam cm) 10
Berapakah panjangnya? (dalam cm) 15
Luas persegi panjang adalah 150.0
Apakah ingin menginput lagi? (yes/no)yes
=======Selamat datang di program sederhana mencari Luas suatu bidang=======
Silahkan masukkan bidang yang ingin kamu hitung : limas
Mohon coba kembali, bidang limas yang anda input tidak tersedia untuk saat ini
Apakah ingin menginput lagi? (yes/no)no
----Program Berakhir Terimakasih----

Contoh 3.

In [61]:
# Contoh Fungsi
def kuadrat_36(input):
    output_kuadrat_36 = input**2
    return output_kuadrat_36

a_36 = kuadrat_36(5)
print(a_36)

25

Contoh.4

In [62]:
# Contoh memunculkan deret Fibonacci
def deret_fibonacci_36 (n):
    if n < 1:
        return [n]

    list_sebelum_N_36 = deret_fibonacci_36(n - 1)
    angka_1_36 = list_sebelum_N_36[-2] if len(list_sebelum_N_36) > 2 else 0
    angka_2_36 = list_sebelum_N_36[-1] if len(list_sebelum_N_36) > 2 else 1

    return list_sebelum_N_36 + [angka_1_36 + angka_2_36]

panjang_36 = int(input('Masukkan panjang deret yang kamu inginkan :'))

# dikurangin satu agar tidak kelebihan
print(deret_fibonacci_36(panjang_36 - 1))

Masukkan panjang deret yang kamu inginkan :25
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]